<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Leon's Blog - Personal Blog</title>
        <meta http-equiv="refresh" content="">
        <!-- mobile responsive meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
        <!-- ** Plugins Needed for the Project **-->
        <link rel="stylesheet" href="../../static/plugins/fontawesome/css/all.css">
        <!-- Main Stylesheet -->
        <link href="../../static/css/style.css" rel="stylesheet">
    
        <!-- HTMX and Hypermedia  -->
        <script src="../../static/plugins/HTMX/htmx.min.js"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    
        <!--Favicon-->
        <link rel="shortcut icon" href="../../static/images/favicon.png" type="image/x-icon">
        <link rel="icon" href="../../static/images/favicon.png" type="image/x-icon">
    </head>
<body>
    <div class="header">
        <h1 class="text-4xl font-extrabold tracking-tight lg:text-5xl lg:leading-[3.5rem] text-center font-abel">
            WEBSITE DEVELOPMENT FUTURE</h1>
        <section class="sub-header">
            <a class="nav-link-heading" id="1" href="">Backend Written in Golang</a>
            <a class="nav-link-heading" id="2" href="">Frontend Written with pure HTML/CSS</a>
            <a class="nav-link-heading" id="3" href="">HTMX/HYPERSCRIPT used for reactivity</a>
        </section>
    </div>

    
  <div class="row">
    <!-- Blog entries -->
<div id="leftcolumn">
        <div id="blogs">
            <span hx-get="/api/Blogs/" hx-swap="innerHTML" hx-target="#blogs" hx-trigger="load">loading blogs</span>
        
        </div>
    </div>
    
    {{include "layouts/sidebar" }}
    
</div>  

</body>
</html>