<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Leon's Blog - Personal Blog</title>
    
        <!-- mobile responsive meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- ** Plugins Needed for the Project **-->

        <link rel="stylesheet" href="..//../static/plugins/fontawesome/css/all.css">
        <!-- Main Stylesheet -->
        <link href="../../static/css/style.css" rel="stylesheet">

        <!-- HTMX and Hypermedia  -->
        <script src="../../static/plugins/HTMX/htmx.min.js"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    
        <!--Favicon-->
        <link rel="shortcut icon" href="../../static/images/favicon.png" type="image/x-icon">
        <link rel="icon" href="../../static/images/favicon.png" type="image/x-icon">

    </head>

    <body>
  
            <div class="header">
                <h2 style="
                text-decoration: underline;">LEONS BLOG</h2>
                <section class="sub-header">
                    <a class="nav-link" href="">Backend Written in Golang</a>
                    <a class="nav-link" href="">Frontend Written with pure HTML/CSS</a>
                    <a class="nav-link" href="">HTMX/HYPERSCRIPT used for reactivity</a>
                </section>
             <section class="top">
                 
                    <ul class="navbar">
                        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
           
                    </ul>

             </section>


                
            </div>

     
            <div class="row">

        {{template "content" .}}

        {{include "layouts/sidebar" }}

        </div>

    {{include "layouts/footer"}}

    </body>
</html>