
<!-- start of sidenav -->
<aside>
    <div class="sidenav position-sticky d-flex flex-column justify-content-between">
        <div class="navbar navbar-dark p-2 font-primary">
            <ul class="navbar-nav text-center w-100">
                <h1 class="mb-2 display-4 text-center mb-4 border-bottom pb-2">LEONS BLOG</h1>
                <li class="nav-item display-2">
                    <a class="nav-link text-white px-0" href="/">Home</a>
                </li>
                <li class="nav-item display-2">
                    <a class="nav-link  text-white px-0" href="/about">About</a>
                </li>
                <li class="nav-item display-2">
                    <a class="nav-link text-white px-0" href="contact.html">Contact</a>
                </li>
                <li class="nav-item display-2">
                    <a href="login.html" class="nav-link display-4  text-white px-0">Login</a>
                </li>
            </ul> 
        </div>
        <!-- end of navbar-brand -->
        <ul class="list-unstyled text-center mb-30">
            
            <li class="display-5 text-center mb-4 border-bottom pb-2" >BUILT WITH</li> 
            <li class="mb-4"><a href="https://go.dev/" class="nav-link mb-4 text-white border-bottom pb-2 ">Go (Golang) Backend</a></li>
            <li class="mb-4"><a href="https://www.w3schools.com/html/html_intro.asp" class="nav-link mb-4 text-white border-bottom pb-2 ">HTML/CSS Frontend - Bootstrap</a></li>
            <li class="mb-4"><a href="https://htmx.org/" class="nav-link mb-4 text-white border-bottom pb-2">HTMX for dynamic content combined with Hyperscript - (Low JS footprint)</a></li>
        </ul>

    </div>
</aside>
<!-- end of navbar -->
