
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');
* {

  box-sizing: border-box;
}

body {
  font-family: comfortaa;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  font-family: Noto Sans JP;
  font-weight: lighter;
  padding: 30px;
  font-size: 40px;
  text-align: center;
  
  background: white;
}
.sub-header{
  padding: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;

}
.pagination{
  cursor: pointer;
}
.Pages{
  padding: 20px;
  font-size: 20px;
  display: flex;
  gap:10px;
  flex-direction: row;
  justify-content: center;
  background: white;

}

.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* form styles */
form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}
input{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}


.auth{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  cursor: pointer;

}


/* link styles */
.navbar { 

  list-style: none; 
  display: table;
  width: 200px;
  text-align: center;
}
.nav-item { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
.nav-link{
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-size: medium;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}